# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
**/.pytest_cache/

# IDE
.idea/
.vscode/

# Allure generated reports
**/reports/allure-report/

# Allure raw results
# **/reports/allure-results/

# Generated HTML reports
**/reports/report.html

# Logs
*.log
**/logs/

# OS files
.DS_Store
Thumbs.db

# Python coverage
.coverage
htmlcov/
**/htmlcov/

# Temporary files
*.tmp
*.temp
